* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111111;
    color: white;
}

/* Navigation */

header {
    background-color: black;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #fcbf49;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #d62828;
}

/* Hero Section */

.hero {
    text-align: center;
    padding: 220px 20px;

    background-image: url(images/restaurant.jpg);
    background-size: cover;
    background-position: center;

    position: relative;
}

.hero::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);
}

.hero h2,
.hero p,
.hero button {
    position: relative;
    z-index: 1;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 20px;
    font-size: 18px;
}

.hero button {
    padding: 12px 25px;
    background-color: #d62828;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.hero button:hover {
    background-color: #fcbf49;
    color: black;
}

/* Featured Dishes */

.featured {
    padding: 50px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background-color: #1c1c1c;
    padding: 20px;
    width: 250px;
    border-radius: 10px;

    transition: 0.3s;
    
}
.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 15px;
    color: #fcbf49;
}

/* Footer */

footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    margin-top: 50px;
}
/* About Page */

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    padding: 100px 50px;

    flex-wrap: wrap;
}

.about-text {
    max-width: 500px;
}

.about-text h2 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #fcbf49;
}

.about-text p {
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 18px;
}

.about-image img {
    width: 450px;
    border-radius: 15px;
}
/* Contact Page */

.contact-section {
    text-align: center;
    padding: 100px 20px;
}

.contact-section h2 {
    font-size: 42px;
    margin-bottom: 40px;
    color: #fcbf49;
}

.contact-form {
    max-width: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: none;
    border-radius: 10px;

    font-size: 16px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 15px;
    border: none;

    background-color: #d62828;
    color: white;

    font-size: 16px;
    cursor: pointer;

    border-radius: 10px;
}

.contact-form button:hover {
    background-color: #fcbf49;
    color: black;
}

.contact-info {
    margin-top: 50px;
    line-height: 2;
}
/* Responsive Design */

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .hero h2 {
        font-size: 36px;
    }

    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 100%;
        max-width: 400px;
    }

}